body {
  font-family: 'Noto Serif', serif;
  color: white;
  margin: 0;
  padding: 0;
}
#section-1 {
  background-color: rgb(99, 37, 78);
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
#logo {
  float: left;
  height: 100px;
  width: auto;
  margin: 0;
  }

  header h1 {
  color: white;
  padding-right: 57px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#section-2 {
  margin: 0;
  padding: 0;
  min-height: 400px;
  background-color: rgb(241, 110, 58);
  padding-top: 30px;
}

#section-2 p {
  margin-top: 0;
  margin-bottom: 50px;
}

.container-2 {
  max-width: 1230px;
  margin-left: auto;
  margin-right: auto;
}



ul {
  float: left;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  }

li {
  color: white;
  background-color: rgb(99, 37, 78);
  display: block;
  text-align: center;
  width: 200px;
  margin-bottom: 3px;
  border-radius: 5px;
}

table {
  margin: auto;
}
